flask
gevent
git+git://github.com/GGOutfitters/conjure.git 
pika
pymongo
pyyaml
requests
simplejson
rlextra
-i https://andrewtodd:oSv4G01lR0@www.reportlab.com/pypi
xlrd
xlwt
lxml
defusedxml
apscheduler
tablefactory
enum34
pylibmc
bunch
requests_ntlm
python-ldap
python-dateutil
pymssql
paramiko
pytz
tzlocal
futures
passlib
selenium
